---
import { Image } from "astro:assets";
import "../styles/global.css";
import GitHub from "../assets/github.svg";
import MarkThisDownImage from "../assets/markthisdown_screenshot.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MarkThisDown Editor</title>
  </head>
  <body class="bg-neutral-900">
    <div
      class="grid grid-cols-1 grid-rows-[minmax(30px,_60px)_minmax(400px,_6fr)_minmax(30px,_60px)] min-h-dvh"
    >
      <header class="py-4 px-8 border-b border-neutral-800 flex justify-between items-center">
        <span class="font-medium text-slate-300">[M] MarkThisDown</span>
        <a
          href="https://github.com/Torvec/markthisdown/"
          target="_blank"
          rel="noopener noreferrer external"
          class="block shadow-lg shadow-slate-500/30 hover:shadow-xl"
        >
          <GitHub
            class="text-slate-300 hover:scale-110 transition-all hover:text-slate-50 duration-300 ease-in-out"
          />
        </a>
      </header>
      <main
        class="grid grid-cols-[minmax(0,1fr)_minmax(0,50px)_minmax(300px,6fr)_minmax(0,50px)_minmax(0,1fr)] grid-rows-[minmax(0,1fr)_minmax(0,50px)_minmax(300px,6fr)_minmax(0,50px)_minmax(0,1fr)] w-full min-h-full divide-x divide-y divide-neutral-800"
      >
        <!-- Row 1 -->
        <div></div>
        <div class="bg-pattern"></div>
        <div></div>
        <div class="bg-pattern"></div>
        <div></div>
        <!-- Row 2 -->
        <div class="bg-pattern"></div>
        <div class="bg-pattern"></div>
        <div class="bg-pattern"></div>
        <div class="bg-pattern"></div>
        <div class="bg-pattern"></div>
        <!-- Row 3 -->
        <div></div>
        <div class="bg-pattern"></div>
        <div
          class="bg-linear-to-br from-slate-800 to-neutral-800 transition-colors duration-300 ease-in-out p-3 ring ring-neutral-700"
        >
          <div
            class="relative overflow-hidden bg-radial-[at_20%_10%] from-slate-800 to-neutral-950 to-50% border border-neutral-600 rounded-3xl size-full p-3 place-content-center md:place-content-end text-center"
          >
            <!--  Background image, Gray gradient -->
            <div
              class="absolute top-10 left-1/2 -translate-x-1/2 z-0 size-full grid grid-cols-1 grid-rows-1"
            >
              <div
                class="bg-linear-to-b from-transparent to-neutral-800 to-60% size-full md:w-full md:h-auto col-start-1 row-start-1 z-10"
              >
              </div>
              <Image
                src={MarkThisDownImage}
                alt=""
                class="w-max h-auto mx-auto col-start-1 row-start-1 ring-2 ring-neutral-800 shadow-2xl shadow-neutral-500/50 z-0"
                aria-label="hidden"
              />
            </div>
            <!-- Title, Tag Line, Download Button -->
            <div class="relative z-10 md:-translate-y-32">
              <h1 class="text-4xl md:text-6xl font-mono font-semibold text-neutral-200">
                MarkThisDown<br /> Editor
              </h1>
              <h2 class="text-neutral-400 max-w-[45ch] mx-auto mb-8">
                The minimalist, local-only, markdown editor with frontmatter support (yaml/toml).
              </h2>
              <a
                href="https://github.com/Torvec/markthisdown/releases/tag/v0.1.0"
                target="_blank"
                rel="noopener noreferrer external"
                class="text-white border bg-neutral-800 border-slate-500 rounded-xl px-8 py-3 block w-max mx-auto hover:bg-slate-500/50 hover:border-slate-400 transition-all duration-300 ease-in-out hover:text-slate-200 shadow-lg shadow-slate-500/30 hover:shadow-xl"
              >
                Download v0.1.0 (Win)
              </a>
            </div>
          </div>
        </div>
        <div class="bg-pattern"></div>
        <div></div>
        <!-- Row 4 -->
        <div class="bg-pattern"></div>
        <div class="bg-pattern"></div>
        <div class="bg-pattern"></div>
        <div class="bg-pattern"></div>
        <div class="bg-pattern"></div>
        <!-- Row 5 -->
        <div></div>
        <div class="bg-pattern"></div>
        <div></div>
        <div class="bg-pattern"></div>
        <div class="border-b border-neutral-800"></div>
      </main>
      <footer
        class="py-4 px-8 text-neutral-500 space-y-2 md:space-y-0 md:flex md:justify-between md:items-center text-center"
      >
        <p>&copy; 2025 Edward Vonschondorf. All rights reserved.</p>
        <a
          href="https://edward-vonschondorf.dev"
          target="_blank"
          rel="noopener noreferrer external"
          class="text-neutral-400 hover:text-orange-600 transition-colors ease-in-out duration-300"
        >
          edward-vonschondorf.dev
        </a>
      </footer>
    </div>
  </body>
</html>
