---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MarkThisDown Editor</title>
  </head>
  <body
    class="bg-gradient-to-b from-blue-900 to-blue-950 min-h-screen text-white pt-16"
  >
    <div
      class="container mx-auto bg-gradient-to-br from-purple-950 to-slate-950 max-w-5xl py-16 space-y-4 shadow-2xl rounded-4xl"
    >
      <h1 class="text-center text-4xl font-mono font-bold">
        MarkThisDown<br /> Editor
      </h1>
      <h2 class="text-center text-slate-300">The minimalist, local-only, markdown editor with frontmatter support (yaml/toml).</h2>
      <a
        href="#"
        class="text-center block w-max mx-auto border-2 px-8 py-2 rounded-xl border-slate-300"
      >
        Download v0.1.0
      </a>
    </div>
  </body>
</html>
